*.edj
*.o
*~
compile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/sudoers/entrance
data/themes/Makefile
data/themes/Makefile.in
data/themes/beaumonts/Makefile
data/themes/beaumonts/Makefile.in
data/themes/old/Makefile
data/themes/old/Makefile.in
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/entrance_client
src/daemon/.deps/
src/daemon/Makefile
src/daemon/Makefile.in
src/daemon/entrance
src/daemon/entrance_wait
data/entrance.service
stamp-h1
